@font-face {
    font-family: font1;
    src: url(font/ethnocentric-rg-it.otf);
}
@font-face {
    font-family: font2;
    src: url(font/American\ Captain.otf);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body,html{
      width:100%;
      height:100%;
  }
.main{

   background-color: black;

}

.box1{
    width: 100vw;
    height: 100vh;
   
    overflow: hidden;
    /* display: none; */

}
/* navbar ki khumsurity */
.nav{
    width: 100%;
    height: 15vh;
    /* background-color: rgb(25, 197, 232); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
}
.logo{
    width: 60px;
    height: 60px;
    /* background-color: red; */
    overflow: hidden;
    
}
.logo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.menu{
    width: 40px;
    height: 100%;
    /* background-color: green; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.menu>.menu-little{
    width: 60px;
    height: 60px;
    position: relative;
    
}
.menu>.menu-little>span{
    position: absolute;
    background-color: #fff;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all ease .5s;
}
.menu>.menu-little>.line-1{
    /* transform: translate(-50%,-50%) rotate(-45deg); */
    width: 0;
    
}
.menu>.menu-little>.line-2{
    transform: translate(-50%,-50%) rotate(-45deg);
    
}
.menu>.menu-little>.line-3{
    
    transform: translate(-50%,-50%) rotate(45deg);
}
.openmenu>.menu-little>.line-2{
    transform: translate(-50%,-15px);
}
.openmenu>.menu-little>.line-3{
    transform: translate(-50%,9px);
}
.openmenu>.menu-little>.line-1{
    transform: translate(-50%,-50%);
}
.fly{
    width: 100vw;
    height: 100vh;
   font-size: 42px;
   display: flex;
   align-items: center;
   justify-content: center;
/* background-image: linear-gradient(rgb(236, 171, 182),white,rgb(242, 144, 242));
 */
 background: transparent;
    /* position: absolute; */
    display: none;
    color: #fff;
    background-color: #dadada3d;

    
}
.fly>.left{
height: 100%;
width: 50vw;
/* background-color: yellow; */
display: flex;
flex-direction: column;
gap: 34px;
padding: 33px 39px;
}

.what{
    /* background-color:antiquewhite ; */
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.frame{
    z-index: 4;
    text-transform: uppercase;
    height: 5vw;
    /* background-color: greenyellow; */
    overflow: hidden;
}
.frame span{
    font-size: 42px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-family: font1;
    padding: 0 5vw;
    height: 5vw;
    transform:translateY(-5vw);
    cursor: pointer;
  }
  .frame>span>a{
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 1px  white;
    /* border: 2px solid white; */
  }
  .frame>span>a:hover{
    color: rgb(255, 75, 75);
  }

.fly>.right{
    height: 100%;
    width: 50vw;
    /* background-color: aqua; */
    transition: all .5s ease;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 20px;
    /* background-color: #dadada; */
   
    font-size: 3vh;
}
.social1{
   
    margin: 10px 0px;
    z-index: 4;
    text-transform: uppercase;
    height: 5vw;
    overflow: hidden;
}
.social>h2, h4{
 font-family: font1;
 font-weight: 400;
 opacity: .6;
}
.social>h4{
    margin: 43px 0px;
}

.social1>span{
    font-size: 4vh;
    transform:translateY(-4vw);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-family: font1;
    padding: 0 5vw;
    height: 5vw;
    cursor: pointer;
}
.page1{
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: red; */
    color: #fff;
    
}


.page1-child1{
    width: 50vw;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    font-size: 4vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-family: font1;

}
.free{
    position: absolute;
    color: white;
    font-size: 1vw;
    top: 12vh;
    left: 12vw;
}
.free2{
    position: absolute;
    color: white;
    font-size: 1vw;
    top: 15vh;
    left: 12vw;
}
.page1-child2{
    width: 50vw;
    height: 100%;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2vw;
    font-family: font1;
}
video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;

}
.box2{
    width: 100vw;
    height: 150vh;
    background-color:black;
    z-index: 999;
    /* display: none; */
}
.work{
    /* background-color: thistle; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border-bottom: .1px solid rgb(255, 255, 255); */
    color: #fefefe;
}
.featwork{
    font-size: 5vw;
    font-family: font1;
    

}
.arrow{
    font-size: 6vw;
    width: 40px;
    height: 40px;
}
.arrow>svg{
    opacity: .6;
}
.work2{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border-bottom: .5px solid white; */
    /* display: none; */
    
}
.project1{
    width: 35vw;
    height: 90vh;
    /* background-color: aqua; */
    position: relative;
    overflow: hidden;
    font-family: font1;
    transition: all .8s ease-in-out;
}
.project1:hover{
    filter: grayscale();
    box-shadow: 2px 4px 16px 2px white;

}

.project1 >.mask>img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;


}
.project1>span{
    font-size: 1.2vw;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 4vh;
    position: absolute;
    bottom: 10px;
    left: 2vw;
    width: 13vw;
    height: 10vh;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.project1>.arrow2{
    width: 5vw;
  height: 10vh;
  /* background-color: rgb(237, 237, 237); */
  bottom: 10px;
  position: absolute;
  left: 28vw;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project2{
   
    width: 32vw;
    height: 77vh;
    /* background-color: rgb(120, 206, 45); */
    /* overflow: hidden; */
}
.sec{
    width: 100%;
    height: 100%;
   
    /* background-color: red; */
 }
 .sec>img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
 }


 .box3{
    width: 100vw;
    background-color: #00000081;
    /* display: none; */
    
    /* background-color: red; */
    padding-bottom: 2vh;
 }



 /* skills page styling ke liye  */




 .box4{
    /* border-top: 1px solid white; */
    /* background-color: rgb(174, 34, 34); */
    width: 100vw;
    height: 200vh;
    color: white;
    /* margin-top: 13vh; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* display: none; */
   
 }
.skills{
    font-size: 4vw;
}
.skill{
    /* background-color: aqua; */
    width: 100%;
    height: 90vh;
    padding-top: 5px;

}
.one{
    /* background-color: rebeccapurple; */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.one-1{
    width: 10vw;
    height: 30vh;
    overflow: hidden;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: font1;
    text-align: center;
}
.one>h3{
    font-family: font1;
    border: 1px solid white;
    
}
.one-1img{
    width: 100%;
    height: 50%;
}
.one-1img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.two{
    /* background-color: red; */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5vw;
    padding: 20px;
}
.two>h3{
    font-family: font1;
    border: 1px solid white;
}
.two>img{
    width: 20%;
    height: 80%;
}
.three{
    /* background-color: aquamarine; */
}
.photo{
    width: 11vw;
}
.four{
    /* background-color: #dada; */
    width: 100vw;
    height:51vh;
    position: relative;
   box-shadow:  2px 2px 14px 2px rgb(97, 94, 94);
  

}
.sec1{
    height: 50vh;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: 1;
    opacity: 2;

}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(7, 7, 7, 0.276);
    position: absolute;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay>h2{
    font-size: 9vw;
    font-family:font1 ;
    color: rgba(255, 255, 255, 0.753);
}

/* About page ke styling ke liye  */
.box5{
    width: 100vw;
    height: 100vh;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: font1;
    /* display: none; */
}
.box5-left{
    width: 50vw;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.left-1{
    width: 50%;
    height: 50%;
    /* background-color: rgb(146, 146, 188); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
    color: white;
    position: relative;
    /* transition:  0.9s ease-in-out; Smooth transition */
}
.left-1>img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    position: absolute;
    object-position: center;
    transition: 0.5s ease-in-out; /* Smooth transition */
}
.left-1:hover>.my{
opacity: 0;
}
.bird{
    opacity: 0;
}
.left-1:hover>.bird{
    opacity: 1;
}

.left2>h1{
   -webkit-text-stroke: 1px white;
    color: transparent;
    transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* transition: 0.3s ease; Smooth transition */

}
.left2>h1:hover{
    color: red;
}
.box5-right{
    width: 50vw;
    height: 100vh;
    /* background-color: greenyellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;

}
.box5-right>h1{
font-size: 5vw;
}
.box5-right>p{
    /* background-color: aquamarine; */
    color: white;
    padding: 23px ;
    font-size: 2vw;
    text-align: center;
    font-family:font2 ;
    line-height: 6vh;
    letter-spacing: 2px;

}

/* footer section  */
.box6{
    /* background-color: orange; */
    width: 100vw;
    height: 50vh;

}
.footer {
    /* background-color: #333; */
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80%;
    border-top: 2px solid white;
}
.foot-left{
    /* background-color: blue; */
    width: 50%;
    height: 100%;

}
.left-f{
    /* background-color: yellow; */
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-f>p{
font-family: font1;
font-size: 3.5vw;
}
.left-2{
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon{
    /* background-color: black; */
    width: 10vw;
    height: 20vh;
    overflow: hidden;
   

}
.icon>a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
}
.icon>a>img{
    width: 100%;
    height: 100px;
    object-position: center;
    object-fit: cover;
   
    
}


.icon>a>.tele{
    width: 80%;
    height: 12vh
}
.icon>a:hover{
   
    transform: scale(1.2);

}
.icon>a>insta{
    width: 90%;
  height: 16vh
}


.foot-right{
    /* background-color: green; */
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boximg{
    /* background-color: red; */
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.boximg>img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    transition: all .6s ease-in-out;
}
.boximg:hover>img{
    transform: scale(1.1);
}


.copy{
    width: 100vw;
    height: 20%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.copy>p{
    opacity: .8;
    font-size: 1.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: white;
}
