@font-face {
    font-family: font1;
    src: url(font/ethnocentric-rg-it.otf);
}
@font-face {
    font-family: font2;
    src: url(font/American\ Captain.otf);
}
@font-face {
    font-family: font3;
    src: url(FoundersGrotesk-Light.otf);
}
@font-face {
    font-family:font4 ;
    src: url(FoundersGroteskXCond-Bold.otf);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body,html{
      width:100%;
      height:100%;
  }

   /* loading page animation  */


  .loading{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    z-index: 99999999;
    position: absolute;
    /* display: none; */

  }
  .loading-item-1{
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 0, 0);
    position: relative;
  }
  .loading-item-1>h1,.loading-item-3>h2{
    font-size: 7vw;
    text-transform: uppercase;
    font-family: font2;
    color: #fff;
    position: absolute;
    bottom: -80%;
  }
  .loading-item-3>h2{
  
    top: 65%;
  }
  .percentage{
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 5vw;
    font-family: font4;
  }
  /* loading animation  */
  .loading-item-2{
    width: 100%;
    height: 60vh;
    background-color: rgb(0, 0, 0);
    
  }
  .infinite-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .infinite-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    animation: scroll 20s linear infinite;
    gap: 10px;
  }
  .infinite-content>img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin: 0 10px;
    flex-shrink: 0;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-40%);
    }
  }
  .loading-item-3{
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 0, 0);
    
    position: relative;
  }
  




.main{

   background-color: black;
   position: relative;

}

.box1{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* display: none; */

}
/* navbar ki khumsurity */
.nav{
    width: 100%;
    height: 15vh;
    /* background-color: rgb(25, 197, 232); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
    position: absolute;
    z-index: 999999;
}
.logo{
    width: 60px;
    height: 60px;
    /* background-color: red; */
    overflow: hidden;
    
}
.logo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.menu{
    width: 40px;
    height: 100%;
    /* background-color: green; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.menu .menu-little{
    width: 60px;
    height: 60px;
    position: relative;
    /* background-color: blueviolet; */
    
}
.menu>.menu-little span{
    position: absolute;
    background-color: #fff;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all ease .5s;
}
.menu>.menu-little>.line-1{
    width: 100%;
    transform: translate(-50%, -10px);
}
.menu>.menu-little>.line-2{
    transform: translate(-50%, -50%);
}
.menu>.menu-little>.line-3{
    transform: translate(-50%, 10px);
}
.openmenu>.menu-little>.line-1{
    width: 0;
}
.openmenu>.menu-little>.line-2{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.openmenu>.menu-little>.line-3{
    transform: translate(-50%, -50%) rotate(45deg);
}
.fly{
    width: 100vw;
    height: 100vh;
   font-size: 42px;
   display: none;
   align-items: center;
   justify-content: center;
 /* background-color: rgb(0, 0, 0); */
 position: relative;
 z-index: 99999;
 
 /* background: transparent; */
    /* position: absolute; */
    /* display: none; */
    color: #fff;
    

    
}
.fly>.left{
height: 100%;
width: 50vw;
/* background-color: yellow; */
display: flex;
flex-direction: column;
gap: 34px;
padding: 33px 39px;
}

.what{
    /* background-color:antiquewhite ; */
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.frame{
    z-index: 4;
    text-transform: uppercase;
    height: 5vw;
    /* background-color: greenyellow; */
    overflow: hidden;
}
.frame span{
    font-size: 42px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-family: font1;
    padding: 0 5vw;
    height: 5vw;
    transform:translateY(-5vw);
    cursor: pointer;
  }
  .frame>span>a{
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 1px  white;
    /* border: 2px solid white; */
  }
  .frame>span>a:hover{
    color: rgb(255, 255, 255);
  }

.fly>.right{
    height: 100%;
    width: 50vw;
    /* background-color: aqua; */
    transition: all .5s ease;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 20px;
    /* background-color: #dadada; */
   
    font-size: 3vh;
}
.social1{
   
    margin: 10px 0px;
    z-index: 4;
    text-transform: uppercase;
    height: 5vw;
    overflow: hidden;
}
.social>h2, h4{
 font-family: font1;
 font-weight: 400;
 opacity: .6;
}
.social>h4{
    margin: 43px 0px;
}

.social1>span{
    font-size: 4vh;
    transform:translateY(-4vw);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-family: font1;
    padding: 0 5vw;
    height: 5vw;
    cursor: pointer;
}
.page1{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(0, 0, 0);
    color: #fff;
    position: relative;
    z-index: 99999;
    /* display: none; */
    background-image: url('https://images.unsplash.com/photo-1544941224-f7f40bb3b3c8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.page1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(8px);
    z-index: -1;
    
}



.page1-child1{
    width: 50vw;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    font-size: 4vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-family: font1;

}
.text-content{
    width: 100%;
    height: 50%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.free3{
    margin-top: 30vh;
    font-size: 5vw;
}
.gif-content{
   
    /* background-color: blue; */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coding-animation{
    width: 30vw;
    height: 30vh;
    box-shadow: 0 0 20px rgba(5, 4, 4, 0.5),
                inset 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}
.coding-animation>img{
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
    transition: filter 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.free{
    position: absolute;
    color: white;
    font-size: 1vw;
    top: 12vh;
    left: 12vw;
}
.free2{
    position: absolute;
    color: white;
    font-size: 1vw;
    top: 15vh;
    left: 12vw;
}
.page1-child2{
    width: 50vw;
    height: 100%;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2vw;
    font-family: font1;
}
.ui-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    /* background-color: green; */
}
.gif-container{
    box-shadow: 0px 0px 10px 4px rgb(14, 12, 12);
    width: 100%;
    /* height: 100%;
    background-color: red; */
}
.gif-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;

}
/* second page  styling ke liye mtlb projects */

.m-sec{
    width: 100vw;
    height: 300vh;
    /* display: none; */
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 4px;
    padding: 16px;
    overflow: hidden;
    z-index: 99;
   
}
.grid-item {
    /* background-color: #3498db; */
    border-radius: 4px;
    overflow: hidden;
    grid-column: var(--c);
    grid-row: var(--r);
    z-index: 999;
    /* padding: 20px; */
}
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.em{
    pointer-events: none;
    /* background-color: antiquewhite; */
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    font-family: font2;
    
}
.elem{
    transition: all 1s ease;
}
.elem {
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.elem:hover {
    transform: scale(1.1) rotate(3deg);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    filter: brightness(1.2);
}


.elem:hover::after {
    opacity: 1;
}














 /* skills page styling ke liye  */




 .box4{
    /* border-top: 1px solid white; */
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 150vh;
    color: white;
    /* margin-top: 13vh; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* display: none; */
    position: relative;
    /* 
    z-index: 99999; is used to control the stacking order of elements.
    It places this element (.box4) on top of other elements with lower z-index values.
    This ensures .box4 appears above most other elements on the page, even if they overlap.
    */
    z-index: 99999;
   
   
 }
.skills {
    display: flex;
    justify-content: center;
    font-size: 7vw;
    font-family: font2;
    width: 100%;
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.skills::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
    z-index: 1;
}


.skill{
    /* background-color: aqua; */
    width: 100%;
    height: 70vh;
    padding-top: 5px;

}
.one{
    /* background-color: rebeccapurple; */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.one-1{
    width: 10vw;
    height: 30vh;
    overflow: hidden;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: font1;
    text-align: center;
}
.one>h3{
    font-family: font1;
    border: 1px solid white;
    
}
.one-1img{
    width: 100%;
    height: 50%;
}
.one-1img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.two{
    /* background-color: red; */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5vw;
    padding: 20px;
}
.two>h3{
    font-family: font1;
    border: 1px solid white;
}
.two>img{
    width: 20%;
    height: 80%;
}
.three{
    /* background-color: aquamarine; */
}
.photo{
    width: 11vw;
}



/* About page ke styling ke liye  */
.box5{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    font-family: font3;
    position: relative;
  
    
    /* display: none; */
}
.box5 .top,
.box5 .bottom {
    width: 100%;
    height: 50vh;
    position: absolute;
    
}

.box5 .top {
    top: 0;
    /* This CSS property positions the element at the very top of its containing element. Here's a detailed explanation:
    
    1. The 'top' property is used for positioning elements.
    2. Setting it to '0' means there's no gap between the top edge of this element and the top edge of its parent.
    3. This only works when the element has a positioning value like 'absolute', 'relative', or 'fixed'.
    4. In this case, it's likely used with 'position: absolute' (set on .box5 .top) to align the top section flush with the top of its container.
    5. This ensures the top section starts exactly at the top of the box5 element, with no space above it.
    */
    background-color: #fffdfd;
    overflow: hidden;
   
    color: #000000;
}

.box5 .center {
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

.box5 .bottom {
    bottom: 0;
    /* This positions the element at the bottom of its containing element */
    background-color: #ffffff;
    overflow: hidden;
}
.box5 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20vw;
    font-family: font2;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
#top-h{
    bottom: 50%;
}
#bottom-h{
    top:10%    ;
}
.center video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-content {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2rem;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    text-align: center;
   font-family: font2;
    font-weight: 600;
}

.profile-info h2 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    /* background-color: antiquewhite; */
}

.profile-info p {
    font-size: 2rem;
    line-height: 2;
    margin-bottom: 1rem;
    /* background-color: beige; */
    font-family: font4;
    font-weight: 300;
    margin: 1vw 4vw;
}















/* footer section  */
.box6{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 50vh;
    position: relative;
    z-index: 99999;
    /* display: none; */

}
.footer {
    /* background-color: #333; */
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80%;
    border-top: 2px solid white;
}
.foot-left{
    /* background-color: blue; */
    width: 50%;
    height: 100%;

}
.left-f{
    /* background-color: yellow; */
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-f>p{
font-family: font1;
font-size: 3.5vw;
}
.left-2{
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon{
    /* background-color: black; */
    width: 10vw;
    height: 20vh;
    overflow: hidden;
   

}
.icon>a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
}
.icon>a>img{
    width: 100%;
    height: 100px;
    object-position: center;
    object-fit: cover;
   
    
}


.icon>a>.tele{
    width: 80%;
    height: 12vh
}
.icon>a:hover{
    transform: scale(1.1) rotate(3deg);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    

}
.icon>a>insta{
    width: 90%;
  height: 16vh
}


.foot-right{
    /* background-color: green; */
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boximg{
    /* background-color: red; */
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.boximg>img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    transition: all .6s ease-in-out;
}
.boximg:hover>img{
    transform: scale(1.1);
}


.copy{
    width: 100vw;
    height: 20%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.copy>p{
    opacity: .8;
    font-size: 1.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: white;
}
